extends layout

block content

  header(class='bar bar-nav')
    h1(class='title') #{title}
    a(class='btn btn-link btn-nav pull-left', href='/todo/#{todo._id}', data-transition='slide-out') 
      span(class='icon icon-left-nav') 
      span abbrechen

  div(class='content')
    form(class='content-padded')
      input(type='text', placeholder='Titel', value='#{todo.name}')

  nav(class='bar bar-tab')
    a(class='tab-item' href='/edit/#{todo._id}', data-transition='slide-in')
      span(class='icon icon-check')