extends layout

block content

  header(class='bar bar-nav')
    h1(class='title') #{title}
  
  div(class='content')
    div(class='content-padded')
      h2 Überblick

    ul(class='table-view')
      each todo in todos
        li(class='table-view-cell media')
          a(class='navigate-right', href='/todo/#{todo._id}/' data-transition='slide-in') 
            div(class='media-body') #{todo.name}
              p #{todo.text}
              p Start: #{todo.start}
              p Ende: #{todo.ende}
  
  nav(class='bar bar-tab')
    a(class='tab-item' href='/new/', data-transition='slide-in')
      span(class='icon icon-plus')

