doctype html
html
  head
    title= title

    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    link(rel='stylesheet', type='text/css', href='/bower_components/ratchet/dist/fonts/ratchicons.ttf')
    link(rel='stylesheet', href='/bower_components/ratchet/dist/css/ratchet.css')
    #link(rel='stylesheet', href='/bower_components/ratchet/dist/css/ratchet-theme-android.css')
    #link(rel='stylesheet', href='/bower_components/ratchet/dist/css/ratchet-theme-ios.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body

    block content

    script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
    script(type='text/javascript', src='/bower_components/ratchet/dist/js/ratchet.js')
    script(type='text/javascript', src='js/main.js')