extends layout

block content

  header(class='bar bar-nav')
    h1(class='title') #{title}
    a(class='btn btn-link btn-nav pull-left', href='/', data-transition='slide-out') 
      span(class='icon icon-left-nav') 
      span abbrechen

  div(class='content')
    form(class='content-padded') 
      label(for='name') Titel
      input(id='name', type='text', name='name', placeholder='Titel')
      label(for='start') Start
      input(id='start', type='datetime-local', name='start', value='#{today}')
      label(for='end') Ende
      input(id='end', type='datetime-local', name='end' value='#{todayPlusOneWeek}')

      nav(class='bar bar-tab')
        a(class='tab-item' href='/add/')
          span(class='icon icon-check')