extends layout

block content

  header(class='bar bar-nav')
    h1(class='title') ToDo: #{title}
    a(class='btn btn-link btn-nav pull-left', href='/', data-transition='slide-out') 
      span(class='icon icon-left-nav') 
      span zurück

  div(class='content')
    div(class='content-padded')
      h2 #{todo.name}

  nav(class='bar bar-tab')
    a(class='tab-item' href='/edit/#{todo._id}', data-transition='slide-in')
      span(class='icon icon-compose')
    a(class='tab-item' href='#', data-transition='slide-in')
      span(class='icon icon-trash')